/* createChannnel */
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.channel-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}


.button:hover {
  background-color: #45a049;
}

.channel-info p {
  margin-top: 10px;
  color: #333;
}

.url-text {
  padding: 10px;
  margin: 10px 0;
  background-color: azure;
  font-size: 16px;
  color: #333;
}

.qr-component {
  margin: 20px 0;
}

/* Channel */
.q-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.q-container {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f7f7f7;
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.questions {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.no-data {
  color: #555;
}